#seg-principal {
  text-align: center;
  margin: auto;
}

#seg-principal-titulo {
  text-align: center;
  margin: auto;
  max-width: 322px;
  min-width: 120px;
}

h4 {
  margin: auto;
  padding-bottom: 25px;
}

h2 {
  margin: auto;
  padding-top: 15px;
}

#pokedex {
  margin: auto !important;
  position: relative !important;
  width: 50% !important;
  min-height: 100% !important;
  height: 300px !important;
  overflow: auto !important;
}

#Changelogs {
  margin: auto !important;
  position: relative !important;
  width: 80% !important;
  max-width: 500px !important;
  height: 300px !important;
  overflow: auto !important;
}

#Calculadora {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

#Aceptar {
  margin: auto;
  position: relative;
}

#footer {
  text-align: center;
  margin: auto;
  position: relative;
  width: 100%;
}

.text-input-numb {
  max-width: 80px !important;
  text-align: center !important;
}

.text-input-numb-2 {
  min-width: 168px !important;
  text-align: left !important;
  margin: auto !important;
}
.text-input-numb-3{
  max-width: 80px !important;
  text-align: center !important;
  color: red !important;
}

.text-input-label-0 {
  min-width: 86px !important;
}

.text-input-label-1 {
  max-width: 137px;
  min-width: 137px;
}

.text-input-label-2 {
  max-width: 141px;
  min-width: 141px;
}

.text-input-label-3 {
  width: 93px;
}

.calc-element {
  text-align: center;
  float: left;
  position: relative;
}

.pkmn-img{
  vertical-align: middle !important;
  margin-left: -15px !important;
  margin-right: -2px !important;
  max-height: 40px !important;
  margin-top: -1em !important;
  margin-bottom: -1em !important; 
}

